.header-class {
    background-color: rgb(48, 46, 46);
    color: white;
}

.header-con {
    display: flex;
    margin: 0 auto;
}

.div-contact {
    padding: 1.5rem 0;
    margin-left: 0.3rem;
    flex: 0 0 auto;
    width: 33.3%;
}

.div-about {
    padding: 1.5rem 0;
    margin-left: 3.5rem;
    flex: 0 0 auto;
    width: 58.3%;
}

.div-h4 {
    font-size: 1.5rem;
    text-align: left;
    margin: 2rem;
}

.p-hid {
    color: rgb(48, 46, 46);
    width: 25rem;
    margin: 0;
}

.con-h4 {
    align-self: flex-end;
}

.ul-line {
    list-style-type: none;
    align-items: center;
}

.a-line {
    text-decoration: underline;
    color: white;
}

.menu-bar {
    background-color: rgb(48, 46, 46);
    padding: 1rem
}

.div-menu {
    display: flex;
    align-items: center;
}

.a-svg {
    display: flex;
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 20rem;
    text-decoration: none;
    width: 15rem;
}

.svg-class {
    margin-right: 0.3rem;
    margin-left: 3.5rem;
}

.btn-class {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    line-height: 1;
    color: white;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 0.2rem;
    padding: 1.5rem;
    text-align: right;
    margin-left: 30rem;
}

.text-section {
    text-align: center;
    width: 25rem;
    margin: 0 auto;
}

.main-btn {
    background-color: #0d6efd;
    border-radius: 0.3rem;
    padding: 6px 11px;
    color: white;
    text-decoration: none;
}

.sec-btn {
    background-color: #6c757d;
    border-radius: 0.3rem;
    padding: 6px 11px;
    color: white;
    text-decoration: none;
}

.container {
    width: auto;
}

.div-class {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
    justify-content: center;
}

.tb-div {
    width: 20rem;
    max-width: 1500px;
    min-width: 50px;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid gray;
    border-radius: 0.3rem;
    text-align: left;
}

.class-footer {
    padding: 3rem 3rem;
    text-align: left;
}

.footer-class {
    max-width: 1500px;
    width: auto;
}

.float-class {
    float: right;
    margin-top: 0;
    margin-bottom: 1rem;
}

.back-class {
    margin-bottom: 0.25rem;
}

.str-class {
    margin-bottom: 0;
}